.home {
  &__container {
    display: flex;
    &__left-panel {
      width: 50%;
      padding: 8px;
      &__user {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        background-color: #f1f1f1;
        margin-top: 4px;
        padding-left: 4rem;
        &__email {
          min-width: 12rem;
        }
      }
    }
    &__right-panel {
      width: 50%;
      padding: 8px;
      display: fixed;
      height: 80vh;
    }
  }
}
